<div class="container my-2">
  <h2 class="mb-4 subtitle">Gestión de Sistemas</h2>
  <% if status %>
    <div class="alert alert-<%=status == 'success' ? 'success' : 'danger'%>" role="alert">
      <%= message %>
    </div>
  <% end %>
  <a href="/systems/create" class="btn btn-success"><i class="fa fa-plus icon-left-margin" aria-hidden="true"></i> Agregar Sistema</a>
  <table class="table table-bordered table-striped" style="margin-top: 20px;">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Repositorio</th>
        <th>Creado</th>
        <th>Actualizado</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <% systems.each_with_index do |system, index| %>
        <tr>
          <td><%= system.name %></td>
          <td><%= system.repo %></td>
          <td><%= system.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
          <td><%= system.updated_at&.strftime('%Y-%m-%d %H:%M:%S') || 'No actualizado' %></td>
          <td>
            <a href="/systems/edit/<%=system.id%>" class="btn btn-secondary"><i class="fa fa-pencil icon-left-margin" aria-hidden="true"></i>Editar</a>
            <a href="/systems/delete/<%=system.id%>" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i>Eliminar</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>